@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&display=swap');

body {
    background: #242526;
}
.start_btn,
.rules_b,
.question_box,
.result_box,
.high_score_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn  {
    font-size: 25px;
    /* font-weight: 500; */
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    font-family: 'Black Ops One', cursive;
    

}

.rules_b
 {
   display: none;
    width: 540px;
    background: #fff;
    border-radius: 5px;

}
.rules_b.active_rules,
.question_box.active,
.result_box.active_results,
.high_score_box.active_high_score {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    display: block;
}

.rules_b
.rules_title

 {
    font-family: 'Russo One', sans-serif;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid transparent;
    padding: 0 45px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    align-items: center;
}

.rules_b 
.rules_list
 {
  padding: 15px 35px;
}

.rules_b
.rules_list
.rules 
 {
    margin: 5px 0;
    font-size: 17px;
}

.rules_b
.rules_list
.rules span {
    color: lightseagreen;
}

.rules_b
.buttons {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 35px;
  border-top: 1px solid transparent;
}

.buttons button {
    margin: 0 5px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent ;
    border-radius: 5px;
    background: lightskyblue;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}


#qbutton:hover
{
   background-color:red;
   color: white;
   font-weight: 600;
}

.next:hover {
    background-color: lightgreen;
    color: black;
    font-weight: 600;
}

.start_btn:hover {
    background-color: black;
    color: #fff;
    font-weight: 700;
}

/* .score {
    float: right;
} */

.question_box
 {
    display: none;
    width: 550px;
    height: 380px;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
   
    /* display: block; */
   

}

.title {
    font-family: 'Russo One', sans-serif;
    margin: 30px 25px;
}


.questions_title
{
    z-index: 99;
    height: 30px;
    padding: 0 15px;
    margin-top: 20px;
    background: #fff;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
     
   
}


.score,
.timer_counts {
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
    /* justify-content: space-between; */
    padding: 5px;
    color: lightseagreen;
}


.options_box {
    padding:  25px 30px 20px 30px;
    text-align: center;

} 

.option {
    padding: 5px;
    margin: 5px;
    margin-bottom: 5px;
    border: 1px solid lightseagreen;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    background: lightslategrey;
    color: white;

}

.option:hover {
    background: lightblue;
}

.result_box
{
display: none;
background: #fff;
width: 550px;
height: 400px;
padding: 25px;
border-radius: 5px;
justify-content: space-between;
text-align: center;
font-family: 'Russo One', sans-serif;
background-image: url(https://media.gamestop.com/i/gamestop/Star_Wars_10.4_HeroM/star-wars.jpg?$POI$&w=768&aspect=1:1.2);
color: white;
}

.options_list .option.correct {
 color:white;
 background: lightgreen;
}

.options_list .option.incorrect {
    color: white;
    background: #ff6a6a;

}

.options_box .option.disabled {
    pointer-events: none;
}

.high_score_box {
display: none;
background: #fff;
width: 550px;
height: 400px;
padding: 25px;
border-radius: 5px;
justify-content: space-between;
text-align: center;
font-family: 'Russo One', sans-serif;
background-image: url(https://pyxis.nymag.com/v1/imgs/00a/407/065c31c680d938dd607e42f8f1f8b58c81-15-star-wars-best-moments-2.rsquare.w700.jpg);
color: white;
font-size: 24px;
}

input {
    width: 280px;
    border: 2px solid;
    height: 8px;
    padding:30px;
    margin: 30px;


}

.card {
    padding: 20px;
}


