body {
    background: lightgrey;
}
.start_btn,
.rules_b,
.question_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn  {
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;

}

.rules_b
 {
   display: none;
    width: 540px;
    background: #fff;
    border-radius: 5px;

}
.rules_b.active_rules {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    display: block;
}

.rules_b
.rules_title

 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid transparent;
    padding: 0 45px;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    align-items: center;
}

.rules_b 
.rules_list
 {
  padding: 15px 35px;
}

.rules_b
.rules_list
.rules 
 {
    margin: 5px 0;
    font-size: 17px;
}

.rules_b
.rules_list
.rules span {
    color: lightseagreen;
}

.rules_b
.buttons {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 35px;
  border-top: 1px solid transparent;
}

.buttons button {
    margin: 0 5px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent ;
    border-radius: 5px;
    background: lightskyblue;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

#qbutton:hover
{
   background-color:#ffff00;
   color: red;
   font-weight: 600;
}

.next:hover {
    background-color: lightgreen;
    color: black;
    font-weight: 600;
}

.start_btn:hover {
    background-color: black;
    color: #fff;
    font-weight: 700;
}

/* .score {
    float: right;
} */

.question_box {
    display: none;
    width: 550px;
    background: #fff;
    border-radius: 5px;
   

}

.questions_title {
    z-index: 99;
    height: 70px;
    padding: 0 15px;
    margin-top: 30px;
    background: #fff;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
   
}

.question_box.active_questions {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}
.score,
.timer_counts {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    padding: 10px;
}
.score span {
    color: lightseagreen;
}

.timer_counts span {
    color: lightseagreen;
}

.options_box {
    padding:  25px 30px 20px 30px;
    text-align: center;

} 

.option {
    padding: 5px;
    margin: 5px;
    margin-bottom: 5px;
    border: 1px solid lightseagreen;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    background: lightslategrey;
    color: white;

}

.option:hover {
    background: lightblue;
}




